In [1]:
import pandas as pd

## 数据预处理
首先我们对数据进行预处理操作。

### 缺省值处理
我们首先处理所有的`unknown`的值

In [40]:
data = pd.read_csv('./dataset/bank-additional-full.csv', sep=";")

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

我们可以看出数据一共有41188条，虽然没有缺省值，但是其中还是有不少的`unknown`的数据，我们首先查看这些数据的数量。

In [42]:
def calculate_unknown(data, attributes, target="unknown"):
    for att in attributes:
        print("The missing number of "+att+" is "+str(len(data[data[att]==target])))

In [43]:
calculate_unknown(data, list(data.columns))

The missing number of age is 0
The missing number of job is 330
The missing number of marital is 80
The missing number of education is 1731
The missing number of default is 8597
The missing number of housing is 990
The missing number of loan is 990
The missing number of contact is 0
The missing number of month is 0
The missing number of day_of_week is 0
The missing number of duration is 0
The missing number of campaign is 0
The missing number of pdays is 0
The missing number of previous is 0
The missing number of poutcome is 0
The missing number of emp.var.rate is 0
The missing number of cons.price.idx is 0
The missing number of cons.conf.idx is 0
The missing number of euribor3m is 0
The missing number of nr.employed is 0
The missing number of y is 0

从上述的结果可以看出，对于总数41188而言，`unknown`的占比不是非常大，所以在本次作业中我们可以直接将缺省值删去。

In [44]:
def delete_unknown(data):
    for att in list(data.columns):
        data = data[data[att]!="unknown"]
    return data

In [45]:
data = delete_unknown(data)

In [46]:
len(data)

30488

目前还剩下30488的数据，数据量还是比较可观的。

In [47]:
data.head(20)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
13,57,housemaid,divorced,basic.4y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
20,30,unemployed,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
22,55,retired,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
23,41,technician,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
24,37,admin.,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
25,35,technician,married,university.degree,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
34,54,blue-collar,divorced,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
36,34,services,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

我们需将data中的values都转换为str类型，方便后续操作。

In [62]:
data = data.astype(str)

通过观察value，我们不难看出`default`, `housing`, `loan`, and `y`这几个column的值是相同的，所以我们要将他们区别开来。
为了之后研究关联规则更加方便，我们将所有的值都加上其column的前缀

In [54]:
def diff(data, columns):
    for column in columns:
        temp = list(data[column])
        for i in range(len(temp)):
            temp[i] = column+"_"+temp[i]
        data[column] = temp
    return data

In [55]:
data = diff(data, list(data.columns))

In [56]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,age_56,job_housemaid,marital_married,education_basic.4y,default_no,housing_no,loan_no,contact_telephone,month_may,day_of_week_mon,...,campaign_1,pdays_999,previous_0,poutcome_nonexistent,emp.var.rate_1.1,cons.price.idx_93.994,cons.conf.idx_-36.4,euribor3m_4.857,nr.employed_5191.0,y_no
2,age_37,job_services,marital_married,education_high.school,default_no,housing_yes,loan_no,contact_telephone,month_may,day_of_week_mon,...,campaign_1,pdays_999,previous_0,poutcome_nonexistent,emp.var.rate_1.1,cons.price.idx_93.994,cons.conf.idx_-36.4,euribor3m_4.857,nr.employed_5191.0,y_no
3,age_40,job_admin.,marital_married,education_basic.6y,default_no,housing_no,loan_no,contact_telephone,month_may,day_of_week_mon,...,campaign_1,pdays_999,previous_0,poutcome_nonexistent,emp.var.rate_1.1,cons.price.idx_93.994,cons.conf.idx_-36.4,euribor3m_4.857,nr.employed_5191.0,y_no
4,age_56,job_services,marital_married,education_high.school,default_no,housing_no,loan_yes,contact_telephone,month_may,day_of_week_mon,...,campaign_1,pdays_999,previous_0,poutcome_nonexistent,emp.var.rate_1.1,cons.price.idx_93.994,cons.conf.idx_-36.4,euribor3m_4.857,nr.employed_5191.0,y_no
6,age_59,job_admin.,marital_married,education_professional.course,default_no,housing_no,loan_no,contact_telephone,month_may,day_of_week_mon,...,campaign_1,pdays_999,previous_0,poutcome_nonexistent,emp.var.rate_1.1,cons.price.idx_93.994,cons.conf.idx_-36.4,euribor3m_4.857,nr.employed_5191.0,y_no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,age_73,job_retired,marital_married,education_professional.course,default_no,housing_yes,loan_no,contact_cellular,month_nov,day_of_week_fri,...,campaign_1,pdays_999,previous_0,poutcome_nonexistent,emp.var.rate_-1.1,cons.price.idx_94.767,cons.conf.idx_-50.8,euribor3m_1.028,nr.employed_4963.6,y_yes
41184,age_46,job_blue-collar,marital_married,education_professional.course,default_no,housing_no,loan_no,contact_cellular,month_nov,day_of_week_fri,...,campaign_1,pdays_999,previous_0,poutcome_nonexistent,emp.var.rate_-1.1,cons.price.idx_94.767,cons.conf.idx_-50.8,euribor3m_1.028,nr.employed_4963.6,y_no
41185,age_56,job_retired,marital_married,education_university.degree,default_no,housing_yes,loan_no,contact_cellular,month_nov,day_of_week_fri,...,campaign_2,pdays_999,previous_0,poutcome_nonexistent,emp.var.rate_-1.1,cons.price.idx_94.767,cons.conf.idx_-50.8,euribor3m_1.028,nr.employed_4963.6,y_no
41186,age_44,job_technician,marital_married,education_professional.course,default_no,housing_no,loan_no,contact_cellular,month_nov,day_of_week_fri,...,campaign_1,pdays_999,previous_0,poutcome_nonexistent,emp.var.rate_-1.1,cons.price.idx_94.767,cons.conf.idx_-50.8,euribor3m_1.028,nr.employed_4963.6,y_yes
41187,age_74,job_retired,marital_married,education_professional.course,default_no,housing_yes,loan_no,contact_cellular,month_nov,day_of_week_fri,...,campaign_3,pdays_999,previous_1,poutcome_failure,emp.var.rate_-1.1,cons.price.idx_94.767,cons.conf.idx_-50.8,euribor3m_1.028,nr.employed_4963.6,y_no

将data转换为list形式。

In [63]:
data_set = data.values.tolist()

## 使用apriori找出频繁模式
本实验使用的apriori的具体代码都在`apriori.py`和`utilis.py`中可以找到。

### Apriori算法介绍
在介绍Apriori算法之前，我们需要先明晰两个概念。
#### Support
$$\begin{equation}
\operatorname{supp}(X)=\frac{\text { Number of transaction in which } X \text { appears }}{\text { Total number of transactions }}
\end{equation}$$
#### Confidence
$$\begin{equation}
\operatorname{con} f(X \longrightarrow Y)=\frac{\operatorname{supp}(X \cup Y)}{\operatorname{supp}(X)}
\end{equation}$$
#### Apriori具体操作步骤

In [64]:
from apriori import *
# 获取candidate和support
# 设置mini_support为0.5
l, support = apriori(data_set, 0.5)

In [69]:
# 生成关联规则
# 设置mini_conf为0.9
rules = association(l, support, 0.9)

frozenset({'previous_0'}) --> frozenset({'y_no'}) frq: 0.7630543164523748 conf: 0.9004489859111318
frozenset({'poutcome_nonexistent'}) --> frozenset({'y_no'}) frq: 0.7630543164523748 conf: 0.9004489859111318
frozenset({'previous_0', 'loan_no'}) --> frozenset({'y_no'}) frq: 0.643335082655471 conf: 0.9000137658881293
frozenset({'loan_no', 'poutcome_nonexistent'}) --> frozenset({'y_no'}) frq: 0.643335082655471 conf: 0.9000137658881293
frozenset({'previous_0', 'poutcome_nonexistent'}) --> frozenset({'y_no'}) frq: 0.7630543164523748 conf: 0.9004489859111318
frozenset({'previous_0', 'default_no'}) --> frozenset({'y_no'}) frq: 0.762988716872212 conf: 0.9004412789347372
frozenset({'poutcome_nonexistent', 'pdays_999'}) --> frozenset({'y_no'}) frq: 0.7630543164523748 conf: 0.9004489859111318
frozenset({'previous_0', 'pdays_999'}) --> frozenset({'y_no'}) frq: 0.7630543164523748 conf: 0.9004489859111318
frozenset({'poutcome_nonexistent', 'default_no'}) --> frozenset({'y_no'}) frq: 0.762988716872212 conf: 0.9004412789347372
frozenset({'previous_0', 'pdays_999', 'default_no'}) --> frozenset({'y_no'}) frq: 0.762988716872212 conf: 0.9004412789347372
frozenset({'poutcome_nonexistent', 'pdays_999', 'default_no'}) --> frozenset({'y_no'}) frq: 0.762988716872212 conf: 0.9004412789347372
frozenset({'previous_0', 'loan_no', 'pdays_999'}) --> frozenset({'y_no'}) frq: 0.643335082655471 conf: 0.9000137658881293
frozenset({'previous_0', 'poutcome_nonexistent', 'pdays_999'}) --> frozenset({'y_no'}) frq: 0.7630543164523748 conf: 0.9004489859111318
frozenset({'previous_0', 'loan_no', 'poutcome_nonexistent'}) --> frozenset({'y_no'}) frq: 0.643335082655471 conf: 0.9000137658881293
frozenset({'loan_no', 'poutcome_nonexistent', 'default_no'}) --> frozenset({'y_no'}) frq: 0.6432694830753083 conf: 0.9000045890505254
frozenset({'previous_0', 'poutcome_nonexistent', 'default_no'}) --> frozenset({'y_no'}) frq: 0.762988716872212 conf: 0.9004412789347372
frozenset({'previous_0', 'loan_no', 'default_no'}) --> frozenset({'y_no'}) frq: 0.6432694830753083 conf: 0.9000045890505254
frozenset({'loan_no', 'poutcome_nonexistent', 'pdays_999'}) --> frozenset({'y_no'}) frq: 0.643335082655471 conf: 0.9000137658881293
frozenset({'loan_no', 'default_no', 'poutcome_nonexistent', 'pdays_999'}) --> frozenset({'y_no'}) frq: 0.6432694830753083 conf: 0.9000045890505254
frozenset({'loan_no', 'default_no', 'previous_0', 'poutcome_nonexistent'}) --> frozenset({'y_no'}) frq: 0.6432694830753083 conf: 0.9000045890505254
frozenset({'default_no', 'previous_0', 'poutcome_nonexistent', 'pdays_999'}) --> frozenset({'y_no'}) frq: 0.762988716872212 conf: 0.9004412789347372
frozenset({'loan_no', 'default_no', 'previous_0', 'pdays_999'}) --> frozenset({'y_no'}) frq: 0.6432694830753083 conf: 0.9000045890505254
frozenset({'loan_no', 'previous_0', 'poutcome_nonexistent', 'pdays_999'}) --> frozenset({'y_no'}) frq: 0.643335082655471 conf: 0.9000137658881293
frozenset({'default_no', 'previous_0', 'pdays_999', 'loan_no', 'poutcome_nonexistent'}) --> frozenset({'y_no'}) frq: 0.6432694830753083 conf: 0.9000045890505254

In [71]:
# 按照conf从大到小排序
rules.sort(key=lambda x: x[-1])

In [74]:
for rule in rules:
    print(str(rule[0])+"-->"+str(rule[1])+" and the conf: "+str(rule[-1]))

frozenset({'loan_no', 'poutcome_nonexistent', 'default_no'})-->frozenset({'y_no'}) and the conf: 0.9000045890505254
frozenset({'previous_0', 'loan_no', 'default_no'})-->frozenset({'y_no'}) and the conf: 0.9000045890505254
frozenset({'loan_no', 'default_no', 'poutcome_nonexistent', 'pdays_999'})-->frozenset({'y_no'}) and the conf: 0.9000045890505254
frozenset({'loan_no', 'default_no', 'previous_0', 'poutcome_nonexistent'})-->frozenset({'y_no'}) and the conf: 0.9000045890505254
frozenset({'loan_no', 'default_no', 'previous_0', 'pdays_999'})-->frozenset({'y_no'}) and the conf: 0.9000045890505254
frozenset({'default_no', 'previous_0', 'pdays_999', 'loan_no', 'poutcome_nonexistent'})-->frozenset({'y_no'}) and the conf: 0.9000045890505254
frozenset({'previous_0', 'loan_no'})-->frozenset({'y_no'}) and the conf: 0.9000137658881293
frozenset({'loan_no', 'poutcome_nonexistent'})-->frozenset({'y_no'}) and the conf: 0.9000137658881293
frozenset({'previous_0', 'loan_no', 'pdays_999'})-->frozenset({'y_no'}) and the conf: 0.9000137658881293
frozenset({'previous_0', 'loan_no', 'poutcome_nonexistent'})-->frozenset({'y_no'}) and the conf: 0.9000137658881293
frozenset({'loan_no', 'poutcome_nonexistent', 'pdays_999'})-->frozenset({'y_no'}) and the conf: 0.9000137658881293
frozenset({'loan_no', 'previous_0', 'poutcome_nonexistent', 'pdays_999'})-->frozenset({'y_no'}) and the conf: 0.9000137658881293
frozenset({'previous_0', 'default_no'})-->frozenset({'y_no'}) and the conf: 0.9004412789347372
frozenset({'poutcome_nonexistent', 'default_no'})-->frozenset({'y_no'}) and the conf: 0.9004412789347372
frozenset({'previous_0', 'pdays_999', 'default_no'})-->frozenset({'y_no'}) and the conf: 0.9004412789347372
frozenset({'poutcome_nonexistent', 'pdays_999', 'default_no'})-->frozenset({'y_no'}) and the conf: 0.9004412789347372
frozenset({'previous_0', 'poutcome_nonexistent', 'default_no'})-->frozenset({'y_no'}) and the conf: 0.9004412789347372
frozenset({'default_no', 'previous_0', 'poutcome_nonexistent', 'pdays_999'})-->frozenset({'y_no'}) and the conf: 0.9004412789347372
frozenset({'previous_0'})-->frozenset({'y_no'}) and the conf: 0.9004489859111318
frozenset({'poutcome_nonexistent'})-->frozenset({'y_no'}) and the conf: 0.9004489859111318
frozenset({'previous_0', 'poutcome_nonexistent'})-->frozenset({'y_no'}) and the conf: 0.9004489859111318
frozenset({'poutcome_nonexistent', 'pdays_999'})-->frozenset({'y_no'}) and the conf: 0.9004489859111318
frozenset({'previous_0', 'pdays_999'})-->frozenset({'y_no'}) and the conf: 0.9004489859111318
frozenset({'previous_0', 'poutcome_nonexistent', 'pdays_999'})-->frozenset({'y_no'}) and the conf: 0.9004489859111318